<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Autó szerkesztése</title>
</head>
<body>

<h1 th:text=" ${'#' + auto.id + ' autó szerkesztése'}"></h1>

<form th:object="${auto}"
      th:action="${'/admin/autok/' + auto.id + '/szerkeszt'}"
      enctype="multipart/form-data"
      method="post">
    <label>
        <input type="text" th:field="*{marka}">
    </label>
    <label>
        <input type="text" th:field="*{modell}">
    </label>
    <label>
        <input type="number" th:field="*{napiAr}">
    </label>
    <label>
        <input type="checkbox" th:field="*{aktiv}">
    </label>
    <div th:if="${auto.kepNev != null}">
        <img th:src="|/uploads/${auto.kepNev}|" alt="kep"
             width="200">
    </div>

    <input type="file" name="kep">
    <button type="submit">Mentés</button>
</form>

<br>

<a href="/admin/autok">Vissza</a>

</body>
</html>