<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Autók</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1>Elérhető autók</h1>

<div th:each="auto : ${autok}">
    <div class="card">
        <img th:if="${auto.kepNev != null}"
             th:src="@{'/uploads/' + ${auto.kepNev}}"
             width="200">

        <img th:if="${auto.kepNev == null}"
             th:src="@{/images/no-image.png}"
             width="200">

        <h3 th:text="${auto.marka + ' ' + auto.modell}"></h3>

        <p th:text="'Napi ár: ' + ${auto.napiAr} + ' Ft'"></p>
        <a th:href="@{/foglal/{id}(id=${auto.id},
                          datumtol=${datumtol},
                          datumig=${datumig})}">
            Foglalás
        </a>
    </div>
</div>

</body>
</html>